################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/MyRecipeApi/obj
/src/MyRecipeDataAccess/obj
/src/MyRecipeWebUI/obj
/src/Hosts/MyRecipeApi/obj
/src/Hosts/MyRecipeWebUI/obj
/src/Domain/MyRecipe.Domain/obj
/src/Hosts/MyRecipe.Api/obj
/src/Hosts/MyRecipe.WebUI/obj
