################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyRecipeApi/.vs/MyRecipeApi
/MyRecipeApi/MyRecipeApi/obj
