################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyRecipeApi/.vs/MyRecipeApi
/MyRecipeApi/MyRecipeApi/obj
/MyRecipeApi/.vs/ProjectEvaluation
/src/.vs
/src/MyRecipeApi/obj
